<h2>Photographs</h2>

<%= link_to 'New photo', new_photograph_path %>

<% @photos.each do |photo| %>
	<div>
		<%= image_tag photo.image_url(:thumb) if photo.image? %>
		<p><%= link_to 'Edit', edit_photograph_path(photo) %> - <%= link_to 'Delete', photo, method: :delete %></p>
	</div>
<% end %>