<% content_for :nav do %>
	<%= render 'layouts/nav', page: :about %>
<% end %>

<div class="left-float half-width">

	<div class="box">

		<h2>About Me</h2>

		<p>I'm Nathan and I am based in Cambridgeshire and London.</p>

		<p>Each wedding is different and I adapt my photographic technique to suit exactly what the couple desire. I have just finished my degree and practised many different areas of photography during my time studying. I work towards a 'story book' technique when photographing a wedding ‐ see Calum and Laura's wedding for an example of this ‐ where the proceedings are displayed in chronological order with a combination of planned/posed photographs and the more subtle events which may be missed during the activity of the day.</p>

		<p>My range of photographic areas ‐ as well as weddings and engagement shoots ‐ are: music, exhibition, studio work, portraits, events and journalism. I am very passionate about photography and thoroughly enjoy working in so many genres!</p>

	</div>

</div>