<% content_for :nav do %>
	<%= render 'layouts/nav', page: :about %>
<% end %>

<div class="left-float half-width">

	<div class="box">

		<h2>About Me</h2>

			<p>Nathan Toper is based in Cambridgeshire and London.</p>

			<p>Having graduated from the University of Westminster in 2011 he has since been working with his camera. His passion lies in photography and since the age of thirteen he has been driven to learn and  constantly improve with frequent photo shoots, starting with street photography in London and Cambridge and landscapes in the Yorkshire Dales.</p>

			<p>Nathan creates a <%= link_to 'visual journal of your wedding day', weddings_path %> beautifully presented in an album or book, capturing every special moment throughout the day. From the bride preparing, the groom anxiously anticipating his first glimpse of his soon to be wife, tears from family and friends during speeches and all the little moments that help make the day so perfect. He is always happy to discuss needs, wishes and ideas to ensure you get the exact photos you desire.</p>

			<p>He has experience in a range of photographic areas; his conceptual artistic works, bands and gigs, parties and formal balls, celebrations and events. He also works digitising film and slides with a professional touch up to correct colours and remove dust and scratches.</p>


	</div>

</div>