<% content_for :nav do %>
	<%= render 'layouts/nav', page: :packages %>
<% end %>

<div class="left-float half-width">

	<div class="box">

		<h2>What will you get on your big day?</h2>


		<h3>A visual documentation of the full day</h3>

		<p>Photographs of the bride and her bridesmaids in her home or hotel as they prepare for the big day. Nathan will then travel to the location of the ceremony to photograph the groom, the guests arriving and the decorations/details at the venue. Following the ceremony Nathan will photograph for the remainder of the day at the reception.</p>

		<h3>Photo DVD with high resolutions</h3>

		<p>The DVD will include two sets of the images. One folder will have the photos in full resolution (the files that you can print from) and the other folder will include smaller resolution images that you can upload straight online (Facebook, Email etc). Your images will be ready for you 1-2 weeks after your wedding.</p>

		<h3>A beautiful album for your photos or a personally designed book</h3>

		<p>Nathan will create a wonderful album showcasing your special day. You pick the album and which photos you want included and Nathan will print and compile the album. If you would prefer something a little different Nathan will design and provide a book in the style of your choice; hardback, soft back, small, A4 or bigger! Nathan has designed and printed several artistic photographic books.</p>

		<p>Nathan will happily discuss customised adaptations of the packages and work towards creating your perfect wedding photographs.</p>



	</div>
</div>

<%= image_tag '/assets/placeholders/05.jpeg', class: 'right-float' %>