<% content_for :nav do %>
	<%= render 'layouts/nav', page: :packages %>
<% end %>

<div class="left-float half-width">

	<div class="box">

		<h2>What will you get on your big day?</h2>


		<h3>A full day of photographs</h3>
		<p>I will photograph the bride and her bridesmaids in her home or hotel as they prepare for the big day. Then I will travel to the location of the ceremony to photograph the groom, the guests arriving and the decorations/details at the venue. Following the ceremony and photographs outside I will go on to the reception for the remainder of the evening.</p>

		<h3>A DVD of the images</h3>
		<p>The DVD will include two sets of the images. One folder will have the photos in full resolution (the files that you can print from) and the other folder will include smaller resolution images that you can upload straight online (Facebook, Email etc). Your images will be ready for you 1-2 weeks after your wedding.</p>

		<h3>A Photo Album or Photo Book</h3>
		<p>In one of our meetings before your wedding I will show you a range of photo albums for you to choose from. If you don't want any of them I will find one best matching your description. After you receive your DVD you can make a selection of the photographs you want to include. I will print them and compile the album for you. You can choose from a range of print sizes from 6x4 inches to 10x8 - though it does depend on the size of the album you select. If you would prefer a photo book I will personally design a hardback book from your instruction of the images you desire and size. I have experience in designing photo books and can bring examples when we meet.</p>

		<h3>Prints</h3>
		<p>I will supply the prints that you select for the photo album or book up to 120 7x5 inch or equivalent in other sizes.</p>

<!-- 		<p>Deposit: A non-refundable deposit of 50% will be required in order to confirm the agreement. The remainder of the amount is to be paid upon receiving the DVD of images.</p>

		<p>Thank you for taking the time to look through my website. I hope you have enjoyed my photography. If you are interested in hiring me for your wedding or just having a discussion with me don't hesitate to get in touch! You can also contact me if you have any questions or want to customise what I offer to suit you.</p>
 -->
	</div>
</div>

<%= image_tag '/assets/placeholders/05.jpeg', class: 'right-float' %>