<% content_for :nav do %>
	<%= render 'layouts/nav', page: :admin_galleries %>
<% end %>

<div class="box">
	<h2>Manage Galleries</h2>

	<ul>
	<% @galleries.each do |gallery| %>
		<li><%= link_to gallery.name, edit_gallery_path(gallery) %></li>
	<% end %>
	</ul>
</div>