<% content_for :nav do %>
	<%= render 'layouts/nav', page: :galleries %>
<% end %>
<%= content_for :title do %>
  <%= "Weddings, Engagements, Parties and more" %>
<% end %>

<div class="box">
<% if @galleries.any? %>	
	<% @galleries.each_with_index do |gallery, i| %>

	<% cl = ' last_in_row' if (i + 1) % 2 == 0 %>
		<div class="mosaic-block bar2 <%= cl %>">
			<a href="<%= gallery_path(gallery) %>" class="mosaic-overlay">
				<div class="details">
					<h4><%= gallery.name %></h4><br/>
					<p>sfaspfoamfpoasmopfas</p>
				</div>
			</a>
			<a href="<%= gallery_path(gallery) %>">
				<div class="mosaic-backdrop">
					<% if gallery.photographs.any? %>
						<%= image_tag gallery.photographs.first.image.url(:large) %>
					<% else %>
						<%= image_tag '/assets/no-photos.jpg' %>
					<% end %>
				</div>
			</a>
		</div>
	<% end %>
<% end %>
<div class="clear"></div>
</div>