<% content_for :nav do %>
	<%= render 'layouts/nav', page: :galleries %>
<% end %>

<div class="top">
	<%= link_to 'back to galleries index', galleries_path, class: 'back-link' %>
	<h2><%= @gallery.name %></h2>
</div>