form.admin {

	margin-top: 20px;

	fieldset {

		padding: 15px;

		legend {
			padding: 0 10px;
			font-size: 130%;
		}

		div {
			font-size: 90%;

			margin-bottom: 15px;

			label {
				float: left;
				width: 200px;

				&:after {
					content: ":"
				}
			}

			&.form-actions {
				margin-left: 200px;
			}
		}
	}
}

textarea {
	height: 75px;
	width: 300px;
}

form.login, form.admin {

	fieldset {
		padding: 20px;
		legend {
			padding: 0 5px;
			font-size: 120%;
		}
	}

	.existing-image {
		background: blue;
		float: left;
	}

	.field {

		&.file, &.image {
			label {
				margin-top: 2px;
			}
		}

		&.image {
			width: 315px;
			.options {
				float: right;
				margin-top: 17px;
			}
		}
		margin-bottom: 15px;

		input[type=text], input[type=password], textarea {
			font-size: 90%;
			width: 400px;
			padding: 2px;
			background: #eaeaea;
			border: 1px solid #888;

			&:hover, &:focus {
				background: #fff;
			}
		}

		input[type=text], input[type=password] {
			height: 25px;
		}
		textarea {
			height: 100px;
		}
		label {
			color: #fff;
			float: left;
			width: 135px;
			margin-top: 7px;
			text-align: right;
			padding-right: 10px;

			&:after {
				content: ":"
			}
		}

		&.two-line {
			label {
				margin-top: 1px;
			}
		}

		&.form-actions {
			margin-left: 145px;

			input {

				color: #fff;
				padding: 8px 20px;
				border-radius: 5px;
				background: rgb(125,126,125); /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */

			}
		}
	}
}

.validation-errors {
	background-color:rgba(255,0,0,0.4);
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	ul {
		li {
			margin-bottom: 5px;
		}
	}
}

form.contact {

	.field {

		margin-bottom: 15px;

		input[type=text], input[type=password], textarea {
			font-size: 90%;
			width: 300px;
			padding: 2px;
			background: #eaeaea;
			border: 1px solid #888;

			&:hover, &:focus {
				background: #fff;
			}
		}

		input[type=text], input[type=password] {
			height: 25px;
		}
		textarea {
			height: 100px;
		}
		label {
			color: #d8d8d8;
			float: left;
			width: 135px;
			margin-top: 7px;
			text-align: right;
			padding-right: 10px;

			&:after {
				content: ":"
			}
		}

		&.two-line {
			label {
				margin-top: 1px;
			}
		}

		&.form-actions {
			margin-left: 145px;

			input {

				color: #fff;
				padding: 8px 20px;
				border-radius: 5px;
				background: rgb(125,126,125); /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */

			}
		}
	}
}
