body { font-family: helvetica, arial, serif; background-color: #000; }

header, article { background-color: #000; color: #fff; margin: 0; width: 1024px; margin: 0 auto;}
nav, footer { background-color: #000; color: #fff; margin: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: normal;}

header {
	padding-top: 15px;
	font-size: 110%;
}

nav {
	width: 1024px; margin: 0 auto;	
	>ul {
		@include horizontal-list-container;
		border-top: 1px solid #878787;
		padding-top: 5px;
		padding-bottom: 5px;

		>li { 
			@include horizontal-list-item;
			margin-right: 1em;
		}
	}

	a { color: #d8d8d8; text-decoration: none; font-size: 75%; text-transform: uppercase;}
	a:hover { text-shadow: 0 0 5px red; color: white; }
}

article {
	min-height: 20em;
	width: 1024px;
	margin: 0 auto;
	h2 { margin-bottom : 1em; }
 
	p { margin: 0; }

	a { color: #22b; text-decoration: none; }
	a:hover { text-shadow: 0 0 3px #88f; color: #44d; }
}

footer {
	border-top: 1px solid #878787;
	width: 1024px;
	margin: 10px auto;
	padding-top: 5px;
	font-size: 65%;

	p { margin: 0; color: #d8d8d8; text-transform: uppercase; text-align: right;}


}