$fore: #d8d8d8;
$high: white;
$back: black;
$line: #878787;
$action: #eaa;

body { font-family: helvetica, arial, serif; background-color: $back; }

header, article { color: $high; margin: 0; width: 1024px; margin: 0 auto;}
nav, footer { color: $high; margin: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: normal;}

header {
	padding-top: 15px;
	font-size: 110%;
}

nav, .subnav {
	width: 1024px; margin: 0 auto;	
	>ul {
		@include horizontal-list-container;
		border-top: 1px solid $line;
		padding-top: 5px;
		padding-bottom: 5px;

		>li { 
			@include horizontal-list-item;
			margin-right: 1em;
		}
	}

	a { color: $fore; text-decoration: none; font-size: 75%; text-transform: uppercase; }
	a:hover { color: $high; }
	a.current { text-decoration: underline; }
}

article {
	min-height: 20em;
	width: 1024px;
	margin: 0 auto;
	h2 { margin-bottom : 1em; }
 
	p { margin: 0; }

	a { color: $fore; text-decoration: none; font-size: 75%; text-transform: uppercase; }
	a:hover { color: $high; }
	a.action { color: $action; }
}

footer {
	border-top: 1px solid $line;
	width: 1024px;
	margin: 10px auto;
	padding-top: 5px;
	font-size: 65%;

	p { margin: 0; color: $fore; text-transform: uppercase; text-align: right;}
}


.frame { text-align: center; }
.feature {
	padding: 15px 0;
}

.thumbs {
	text-align: center;
	div { padding: 5px; margin: 10px 0; }
	.current { border: 1px dotted $line; }
	img { vertical-align: bottom; }
}