<% if info %>
	<p class="notice info"><%= info %></p>
<% end %>
<% if warning %>
	<p class="notice warning"><%= warning %></p>
<% end %>
<% if error %>
	<p class="notice error"><%= error %></p>
<% end %>
